{:deps {reagent/reagent {:mvn/version "0.7.0"
                         :exclusions [cljsjs/react
                                      cljsjs/react-dom
                                      cljsjs/react-dom-server
                                      cljsjs/create-react-class]}
        re-frame/re-frame {:mvn/version "0.10.4"}}}